<h1> New Non Scaffold Skill </h1>

<%= form_with model: @nsskill do |form| %>
<div>
  <%= form.label: name %><br>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :experience %><br>
  <%= form.experience :experience %>
</div>

<div>
  <%= form.submit %>
</div>

<% end %>
