<!DOCTYPE html>
<html>
  <head>
    <title>PracticeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_page?("/works")%>
    <div class = "works">
    <% else %>
    <div class = "home">
    <% end %>
      <nav>
        <ul>
          <li><%= link_to "Home", "/"%></li>
          <li><%= link_to "Works", "/works"%></li>
	  <li><%= link_to "Skills", "/skills"%></li>
        </ul>
      </nav>

    <%= yield %>
    </div>
  </body>
</html>
